/* font-family: 'Pragati Narrow', sans-serif; */

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52em;
    font-family: 'Pragati Narrow', sans-serif;
}


legend{
    border: 1px solid black;
}

fieldset{
    padding: 2em 5em;
    max-width: 23%;
    margin: 3em 1em;
}

.good_work{
    display: block;
    text-align: center;
    width: 83%;
}

.phase{
    float: left;
    margin: 1.5em 2em 1em 0;
}

.choice{
    display: flex;
    justify-items: left;
}

.web_lang{
width: 25%;
}
